
<div class="container-fluid" style="overflow: auto;">
    <div style="height: 5vh;"></div>
    <div id="map"></div>
    <div style="height:1.5vh;">
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" style="width: 100%;justify-content: center" class="row">
        <div>
            <button mat-raised-button class="customBtn btn" color="primary" (click)="setLocation()"  >Alert People</button>
        </div>
        <div style="width: 1vw;"></div>
        <input #fileUpload type="file" (click)="fileUpload.value = ''"(change)="uploadFile($event)" style="display:none"
        accept="image/*">

        <div >
            <button mat-raised-button class="customBtn btn" color="primary" (click)="fileUpload.click()"  >Upload Images</button>
        </div>
    </div>
    <div style="height:1.5vh;">
</div>



